html,
body {
  height: 100%;
  background-color: $color-grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  padding: 10px 0px 10px 0px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* scrollbar for FireFox */
* {
  scrollbar-color: $color-dark $color-white;
  scrollbar-width: thin;
}

/* scrollbar for Chrome */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-dark;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: $color-white;
}