/* Colors */
$color-white: #fff;
$color-black: #000;
$color-dark: #a1a1a1;
$color-grey: #616161;

/* Shadow */
$box-shadow-btn: 3px 3px #000;
$box-shadow-btn-hover: 1px 1px #000;
$box-shadow-text: 2px 2.5px #000;
$box-shadow-canvas: 0px 0px 15px 5px #16161888;
$box-shadow-phone: 2px 1.7px #000;