/* Colors */
$color-white: #fff;
$color-black: #000;
$color-dark: #a1a1a1;
// $color-blue: #3199dc;
// $color-light: #f8f9fa;
// $color-red: #c30000;
// $color-green: #006100;
// $color-unaccent: #808080;
// $color-medium: #e8e8e8;
// $color-error-light: #f25b6b;
// $color-error-dark: #c54646;
// $linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);

/* Spacing */
// $spacing-small: 10px;
// $spacing-medium: 15px;
// $spacing-large: 30px;

/* Radius */
// $border-radius: 6px;

/* Shadow */
$box-shadow-btn: 3px 3px #000;
$box-shadow-btn-hover: 1px 1px #000;
$box-shadow-text: 2px 2.5px #000;